In [1]:
import pandas as pd
import numpy as np

import missingno

In [2]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [3]:
df_train.head(3)

,id_solicitante,produto_solicitado,dia_vencimento,forma_envio_solicitacao,tipo_endereco,sexo,idade,estado_civil,qtde_dependentes,grau_instrucao,...,possui_telefone_trabalho,codigo_area_telefone_trabalho,meses_no_trabalho,profissao,ocupacao,profissao_companheiro,grau_instrucao_companheiro,local_onde_reside,local_onde_trabalha,inadimplente
0,1,1,10,presencial,1,M,85,2,0,0,...,N,,0,9.0,1.0,0.0,0.0,600.0,600.0,0
1,2,1,25,internet,1,F,38,1,0,0,...,N,,0,2.0,5.0,NaN,NaN,492.0,492.0,0
2,3,1,20,internet,1,F,37,2,0,0,...,N,,0,NaN,NaN,NaN,NaN,450.0,450.0,1

In [4]:
df_train.drop(['id_solicitante', 'estado_onde_nasceu', 'codigo_area_telefone_residencial', 'possui_telefone_trabalho', 'codigo_area_telefone_trabalho'], axis=1, inplace=True)
df_test.drop(['id_solicitante', 'estado_onde_nasceu', 'codigo_area_telefone_residencial', 'possui_telefone_trabalho', 'codigo_area_telefone_trabalho'], axis=1, inplace=True)

In [5]:
df_train['sexo'] = df_train['sexo'].map({'M': 1, 'F': 0})
df_test['sexo'] = df_test['sexo'].map({'M': 1, 'F': 0})

df_train['possui_telefone_residencial'] = df_train['possui_telefone_residencial'].map({'Y': 1, 'N': 0})
df_test['possui_telefone_residencial'] = df_test['possui_telefone_residencial'].map({'Y': 1, 'N': 0})

df_train['vinculo_formal_com_empresa'] = df_train['vinculo_formal_com_empresa'].map({'Y': 1, 'N': 0})
df_test['vinculo_formal_com_empresa'] = df_test['vinculo_formal_com_empresa'].map({'Y': 1, 'N': 0})

df_train['forma_envio_solicitacao'] = df_train['forma_envio_solicitacao'].map({'presencial': 1, 'internet': 0})
df_test['forma_envio_solicitacao'] = df_test['forma_envio_solicitacao'].map({'presencial': 1, 'internet': 0})

In [ ]:
X_train = df_train.iloc[:, :-1].values
y_train = df_train.iloc[:, -1].values

X_test = df_test.iloc[:, :].values

In [6]:
df_train.isna().sum()

produto_solicitado                     0
dia_vencimento                         0
forma_envio_solicitacao                0
tipo_endereco                          0
sexo                               20000
idade                                  0
estado_civil                           0
qtde_dependentes                       0
grau_instrucao                         0
nacionalidade                          0
estado_onde_reside                     0
possui_telefone_residencial            0
tipo_residencia                      536
meses_na_residencia                 1450
possui_telefone_celular                0
possui_email                           0
renda_mensal_regular                   0
renda_extra                            0
possui_cartao_visa                     0
possui_cartao_mastercard               0
possui_cartao_diners                   0
possui_cartao_amex                     0
possui_outros_cartoes                  0
qtde_contas_bancarias                  0
qtde_contas_bancarias_especiais        0
valor_patrimonio_pessoal               0
possui_carro                           0
vinculo_formal_com_empresa             0
estado_onde_trabalha                   0
meses_no_trabalho                      0
profissao                           3097
ocupacao                            2978
profissao_companheiro              11514
grau_instrucao_companheiro         12860
local_onde_reside                      0
local_onde_trabalha                    0
inadimplente                           0
dtype: int64

In [7]:
df_test.isna().sum()

produto_solicitado                    0
dia_vencimento                        0
forma_envio_solicitacao               0
tipo_endereco                         0
sexo                                  0
idade                                 0
estado_civil                          0
qtde_dependentes                      0
grau_instrucao                        0
nacionalidade                         0
estado_onde_reside                    0
possui_telefone_residencial           0
tipo_residencia                     125
meses_na_residencia                 362
possui_telefone_celular               0
possui_email                          0
renda_mensal_regular                  0
renda_extra                           0
possui_cartao_visa                    0
possui_cartao_mastercard              0
possui_cartao_diners                  0
possui_cartao_amex                    0
possui_outros_cartoes                 0
qtde_contas_bancarias                 0
qtde_contas_bancarias_especiais       0
valor_patrimonio_pessoal              0
possui_carro                          0
vinculo_formal_com_empresa            0
estado_onde_trabalha                  0
meses_no_trabalho                     0
profissao                           762
ocupacao                            690
profissao_companheiro              2887
grau_instrucao_companheiro         3210
local_onde_reside                     0
local_onde_trabalha                   0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
X_train[:, 24:30] = imputer.fit_transform(X_train[:, 24:30])

imputer_kaggle = SimpleImputer(missing_values=np.nan, strategy="mean")
X_kaggle[:, 24:30] = imputer_kaggle.fit_transform(X_kaggle[:, 24:30])

NameError: name 'X_train' is not defined