In [18]:
import pandas as pd
import numpy as np

import missingno

In [26]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [23]:
df_train.head(3)

   id_solicitante  produto_solicitado  ...  local_onde_trabalha inadimplente
0               1                   1  ...                600.0            0
1               2                   1  ...                492.0            0
2               3                   1  ...                450.0            1

[3 rows x 42 columns]

In [27]:
df_train.drop(['id_solicitante', 'estado_onde_nasceu', 'codigo_area_telefone_residencial', 'possui_telefone_trabalho', 'codigo_area_telefone_trabalho'], axis=1, inplace=True)
df_test.drop(['id_solicitante', 'estado_onde_nasceu', 'codigo_area_telefone_residencial', 'possui_telefone_trabalho', 'codigo_area_telefone_trabalho'], axis=1, inplace=True)

In [ ]:
df_train['sexo'] = df_train['sexo'].map({'M': 1, 'F': 0})
df_train['sexo'] = df_train['sexo'].map({'M': 1, 'F': 0})

In [20]:
df_train.isna().sum()

id_solicitante                          0
produto_solicitado                      0
dia_vencimento                          0
forma_envio_solicitacao                 0
tipo_endereco                           0
sexo                                    0
idade                                   0
estado_civil                            0
qtde_dependentes                        0
grau_instrucao                          0
nacionalidade                           0
estado_onde_nasceu                      0
estado_onde_reside                      0
possui_telefone_residencial             0
codigo_area_telefone_residencial        0
tipo_residencia                       536
meses_na_residencia                  1450
possui_telefone_celular                 0
possui_email                            0
renda_mensal_regular                    0
renda_extra                             0
possui_cartao_visa                      0
possui_cartao_mastercard                0
possui_cartao_diners                    0
possui_cartao_amex                      0
possui_outros_cartoes                   0
qtde_contas_bancarias                   0
qtde_contas_bancarias_especiais         0
valor_patrimonio_pessoal                0
possui_carro                            0
vinculo_formal_com_empresa              0
estado_onde_trabalha                    0
possui_telefone_trabalho                0
codigo_area_telefone_trabalho           0
meses_no_trabalho                       0
profissao                            3097
ocupacao                             2978
profissao_companheiro               11514
grau_instrucao_companheiro          12860
local_onde_reside                       0
local_onde_trabalha                     0
inadimplente                            0
dtype: int64

In [22]:
df_test.isna().sum()

id_solicitante                         0
produto_solicitado                     0
dia_vencimento                         0
forma_envio_solicitacao                0
tipo_endereco                          0
sexo                                   0
idade                                  0
estado_civil                           0
qtde_dependentes                       0
grau_instrucao                         0
nacionalidade                          0
estado_onde_nasceu                     0
estado_onde_reside                     0
possui_telefone_residencial            0
codigo_area_telefone_residencial       0
tipo_residencia                      125
meses_na_residencia                  362
possui_telefone_celular                0
possui_email                           0
renda_mensal_regular                   0
renda_extra                            0
possui_cartao_visa                     0
possui_cartao_mastercard               0
possui_cartao_diners                   0
possui_cartao_amex                     0
possui_outros_cartoes                  0
qtde_contas_bancarias                  0
qtde_contas_bancarias_especiais        0
valor_patrimonio_pessoal               0
possui_carro                           0
vinculo_formal_com_empresa             0
estado_onde_trabalha                   0
possui_telefone_trabalho               0
codigo_area_telefone_trabalho          0
meses_no_trabalho                      0
profissao                            762
ocupacao                             690
profissao_companheiro               2887
grau_instrucao_companheiro          3210
local_onde_reside                      0
local_onde_trabalha                    0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
X_train[:, 24:30] = imputer.fit_transform(X_train[:, 24:30])

imputer_kaggle = SimpleImputer(missing_values=np.nan, strategy="mean")
X_kaggle[:, 24:30] = imputer_kaggle.fit_transform(X_kaggle[:, 24:30])